<h2 class="head float-l">Details for {{$ctrl.member.name}}</h2>
<a class="top-back-button" href="/#!/members">Back to all members</a>


    <table ng-table="$ctrl.tableParams" class="table">
        <tr ng-repeat="contact in $data">
            <td title="'Name'">{{contact.name}}</td>
            <td title="'Email'">{{contact.email}}</td>
            <td title="'Phone'">{{contact.phone}}</td>
        </tr>
        <tr ng-if="$ctrl.tableParams.data.length === 0">
            <td colspan="2">No results</td>
        </tr>
    </table>


