<form name="addform">
    <div class = "form-group">
        <label for = "member-name">Member Name</label>
        <input  ng-readonly="$ctrl.isMemberNameReadOnly()" type = "text" id = "member-name" ng-model = "$ctrl.memberName" />
    </div>

    <div class = "form-group">
        <label for = "contact-name" >Contact Name</label>
        <input type = "text" id = "contact-name" ng-model = "$ctrl.contactName" />
    </div>

    <div class = "form-group">
        <label for = "contact-phone">Contact Phone</label>
        <input type = "text" id = "contact-phone" ng-model = "$ctrl.contactPhone" />
    </div>

    <div class = "form-group">
        <label for = "contact-email">Contact Email</label>
        <input type = "email" id = "contact-email" ng-model = "$ctrl.contactEmail" />
    </div>

    <div class = "form-group">
        <button ng-disabled="!$ctrl.addMemberVisible()" class="btn-primary" ng-click = "$ctrl.addMember()">Add Member</button>
    </div>

    
    <div class = "form-group">
        <button ng-disabled="!$ctrl.addContactVisible()" class="btn-primary" ng-click = "$ctrl.addContact()">Add Contact</button>
    </div>

    <span ng-if = "$ctrl.errorMsg">{{$ctrl.errorMsg}}</span>

    <span ng-if = "$ctrl.successMsg">
    {{$ctrl.successMsg}}. View details <a ng-href = "#!/members/{{$ctrl.successId}}">here</a>
</span>
</form>